#sidebar ul:not(.list-unstyled) {
  padding-left: 1em;
}

#content-container {
  overflow: scroll;
}
@media only screen and (min-width: 768px) {
  #content-container {
    overflow: initial;
  }
}

form .errorlist > li {
  color: red;
  list-style: none;
}

form .form-group.outlined {
  padding: 0.5em;
  border: 1px solid lightgray;
  border-radius: 4px;
}

a:not([href]):hover {
  cursor: pointer;
}

div.dropdown.select-emulator > button {
  width: 10em;
  text-align: left;
}
div.dropdown.select-emulator > button::after {
  display: block;
  margin-top: 0.4em;
  float: right;
}

.footer {
  text-align: center;
}

div.schedule-container ul.regionlist {
  list-style-type: none;
}

div.schedule-container ul.regionlist > li {
  display: inline;
}

.popover-content {
  display: none;
}

.hide-while-loading:not(.dataTable) {
  visibility: hidden;
}

/** dt override **/
.dataTable thead th.sorting {
  background: url("images/sort_both.png") no-repeat center right;
}
.dataTable thead th.sorting_desc {
  background: url("images/sort_desc.png") no-repeat center right;
}
.dataTable thead th.sorting_asc {
  background: url("images/sort_asc.png") no-repeat center right;
}

.dataTable thead th[class*="sort"]:after,
.dataTable thead th[class*="sort"]:before {
  content: "" !important;
}
