{% extends "page.html" %}

{% block subtitle %}Schedule{% endblock %}

{% block sidebarcontent %}
<div class="card-header">Yearly Schedules</div>
<div class="card-body">
    <div class="card-text mb-2">
        Subscribe to the calendar:
        <a href="webcal://{{request.get_host}}/schedule/brevets.ics"><img src="{{ STATIC_URL }}images/ical_icon.gif"/></a>
    </div>
<ul>
{% for y in year_list %}
<li>
{% if y == year %}
<b>{{ y }}</b>
{% else %}
<a href="{% url 'schedule' y %}?region={{region}}">{{ y }}</a>
{% endif %}
</li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">$("#sidebar").addClass('col-md-2').removeClass('col-md-3');</script>

<div class="schedule-container">
    <ul class="regionlist pl-0">
    {% if region == 'all' %}
    [ <li><b><i>All</i></b></li> ]
    {% else %}
    [ <li><a href="{% url 'schedule' year %}">All</a></li> ]
    {% endif %}
    {% for r in region_list %}
    {% if region == r.idclubcodes %}
    [ <li><b><i>{{ r }}</i></b></li> ]
    {% else %}
    [ <li><a href="{% url 'schedule' year %}?region={{ r.idclubcodes }}">{{ r }}</a></li> ]
    {% endif %}
    {% endfor %}
    </ul>
</div>

{% if upnext_event_list.exists %}
<div class="row">
  <h3>Upcoming Events</h3>
  {% include 'schedule/schedule-table.html' with event_list=upnext_event_list html_id='upcoming' year=year only %}
</div>
{% endif %}

{% if completed_event_list.exists %}
<div class="row mt-3">
  <h3>Completed Events</h3>
  {% include 'schedule/schedule-table.html' with event_list=completed_event_list html_id='completed' year=year only %}
</div>
{% endif %}

{% if not upnext_event_list.exists and not completed_event_list.exists %}
<div class="row">
  <em>No events to show!</em>
</div>
{% endif %}



<style type="text/css">
    .schedule th:nth-of-type(1) { /* date */
        min-width: 9.5em;
    }
</style>
{% endblock %}