{% load tags %}
<table cellpadding="5" cellspacing="0" border="2"
    class="table table-striped table-bordered table-responsive schedule" id="schedule-{{ html_id }}">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Type</th>
      <th>Distance</th>
      <th>Region</th>
      <th>Start</th>
      <th>Route</th>
      <th>Organizers</th>
    </tr>
  </thead>
  {% for event in event_list %}
  <tr>
    <td>
      {{ event.date|date:"N j, g:i A" }}
    </td>
    <td>
      {% if event.type == 'BCPop' and event.url != "" %}
      <a href="{{ event.url }}">{% if event.name %}{{event.name}}{% else %}Unnamed{% endif %}</a>
      {% else %}
      <a href="{% url 'event' event.eventid %}">
        {% if event.name %}{{event.name}}{% else %}Unnamed{% endif %}
      </a>
      {% endif %}
      {% if event.ridegroup %}
      ({{event.ridegroup}})
      {% endif %} 
      {% if user.is_staff %}
      &nbsp;<a href="/admin/bcrdata/brevetevent/{{event.eventid}}">[edit]</a>
      {% endif %}
      {% if event.is_in_past %}<small>[{{ event.getResults|length }} results]</small>
      {% elif event.getRandoPonyLink != None %}[<a href="{{event.getRandoPonyLink}}">Pre-register</a>]
      {% endif %}
    </td>
    <td>{{ event.type }}</td>
    <td>{{ event.distance }}</td>
    <td><a href="{% url 'schedule' year %}?region={{ event.acpregion.idclubcodes }}">{{ event.acpregion.name }}</a></td>
    <td><a href="http://maps.google.com/?q={{event.start}}">{{event.start}}</a></td>
    <td><a href="{% url 'route' event.routeid.routeid %}">{{ event.routeid }}</a></td>
    <td>
      {% for volunteer in event.getVolunteers  %}
      {% if volunteer.organizer %}
      <a href="{% url 'member' volunteer.memberid.memberid %}">{{ volunteer.memberid.fullname }}</a>
      &lt;{% email_tag volunteer.memberid.email 'contact' %}&gt;<br/>
      {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>