{% extends "management/regional/page.html" %}

{% load tags %}

{% block subtitle %}Regional Ride Administration{% endblock %}

{% block regional_sidebar %}
Here you can manage the events for {{user.club}}
{% endblock %}

{% block content %}

<table id="dashboard-table" class="table table-responsive">
  <thead>
    <tr>
      <th>Ride Date</th>
      <th>Distance</th>
      <th>Name</th>
      <th>Region</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  {% for event in event_list %}
  <tr>
    <td>{{ event.date.date.isoformat }}</td>
    <td>{{ event.distance }}</td>
    <td>{{ event.name }}</td>
    <td>{{ event.acpregion }}</td>
    <td>{{ event.status }}</td>
    <td>{% if event.status != 'Homologated' %}
      <a href="{% url 'regional_dashboard_event' event.eventid %}?next={{ request.path }}"
         class="btn btn-default btn-lg" role="button">Manage</a>
         {%endif%}
    </td>
  </tr>
  {% endfor %}
</table>
<style>
    #dashboard-table th:nth-of-type(1) {
        width: 7.5em;
    }
</style>

{% endblock %}
