{% extends "management/regional/page.html" %}

{% load tags %}

{% block subtitle %}Regional Ride Administration{% endblock %}

{% block regional_sidebar %}

<div class="card-title">Event Details</div>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{event.name }}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{event.status}}</td>
    </tr>
    <tr>
      <th scope="row">Start Date</th>
      <td>{{ event.date }}</td>
    </tr>
    <tr>
      <th scope="row">Region</th>
      <td>{{ event.acpregion }}</td>
    </tr>
    <tr>
      <th scope="row">Start</th>
      <td><a href="http://maps.google.com/?q={{event.start}}">{{event.start}}</a></td>
    <tr>
      <th scope="row">Route</th>
      <td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
    </tr>
</table>

<h4>Files</h4>
<ul>
  {% if event.controlcard != "" %}<li><a href="{{event.controlcard.url}}">Control Card</a> ({{ event.controlcard.size|filesizeformat }})</li>{% endif %}
  {% if event.routesheet != "" %}<li><a href="{{event.routesheet.url}}">Route Sheet</a> ({{ event.routesheet.size|filesizeformat }})</li>{% endif %}
  {% if event.gpx != "" %}<li><a href="{{event.gpx.url}}">GPX (GPS File)</a> ({{ event.gpx.size|filesizeformat }})</li>{% endif %}
</ul>

<h4>Volunteers</h4>
{% if volunteers %}
<ul class="list-unstyled">
  {% for volunteer in volunteers %}
  <li>{% if volunteer.organizer %}*{% endif %}<a href=/member/{{volunteer.memberid.memberid}}>{{volunteer.memberid}}</a></li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}

{% block content %}

<h1>Edit Event Details</h1>

<form class="col-md-7" id="edit-form" action="{% url 'regional_dashboard_event' event.eventid %}" method="POST" enctype="multipart/form-data">
    <div class="form-needs-decoration">
        {{ eventForm.as_p }}
    </div>
    {% csrf_token %}

    <button class="btn btn-primary" type="submit" name="_update">Update</button>
    <button class="btn btn-success" type="submit" name="_save">Save and Done</button>
</form>

{% endblock %}
