{% extends "management/page.html" %}

{% load tags %}

{% block sidebarcontent %}
<h3 class="card-header">{{ user.member.firstname }} {{ user.member.lastname }}</h3>
<div class="card-title">{{user.member.clubcode}}</div>
<div class="card-body">
    {% block regional_sidebar %}
    {% endblock %}
</div>
{% endblock %}

