{% load tags %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/"><img src="{{STATIC_URL}}images/g12.png?cb={% now 'W' %}" /> BC Randonneurs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav">
            <li class="navi-item dropdown {% active request "^/schedule" %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-schedule-link" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">Schedule {% if "schedule" in request.path %}<span class="sr-only"> (current)</span>{% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-schedule-link">
                    <a class="dropdown-item" href="/schedule/">Overview</a>
                    {% for region in region_list %}
                    <a class="dropdown-item" href="/schedule/?region={{region.idclubcodes}}">{{ region }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown {% active request "^/member|^/event|^/route|^/browse" %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-browse-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Browse
                    {% if "member" in request.path or "event" in request.path or "browse" in request.path %}<span
                        class="sr-only"> (current)</span>{% endif %}</a>
                <div class="dropdown-menu" aria-labelledby="navbar-browse-link">
                    <a class="dropdown-item" href="/browse/members">Riders</a>
                    <a class="dropdown-item" href="/browse/randonnees">Randonnées</a>
                    <a class="dropdown-item" href="/browse/permanents">Permanents</a>
                    <a class="dropdown-item" href="/browse/fleches">Fl&egrave;che Pacifique</a>
                    <a class="dropdown-item" href="/browse/routes">Routes</a>
                </div>
            </li>
            <li class="nav-item dropdown {% active request " ^/reporting/ " %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-reports-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Reporting {% if "reporting" in request.path %}<span class="sr-only">
                        (current)</span>{% endif %}</a>
                <div class="dropdown-menu" aria-labelledby="navbar-reports-link">
                    <a class="dropdown-item" href="{% url 'cur_sr' %}">Super Randonneurs</a>
                    <a class="dropdown-item" href="{% url 'rider_overall_totals' %}">Life-time Distance</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'current_members' %}">Current Members</a>
                    <a class="dropdown-item" href="{% url 'rider_totals' %}">Current Totals</a>
                    <a class="dropdown-item" href="{% url 'yearly_summary' %}">Yearly Summary</a>
                    <a class="dropdown-item" href="{% url 'yearly_detail' %}">Yearly Detailed Report</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'volunteer_report' %}">Club Volunteers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'fastest_brevets' %}">Fastest Brevets</a>
                </div>
            </li>
            <li class="nav-item {% active request "^/search/" %}">
                <a class="nav-link" href="/search/">Search {% if "search" in request.path %}<span class="sr-only">
                        (current)</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown {% active request "/missing" %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-help-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Help Us! {% if "missing" in request.path %}<span class="sr-only">
                        (current)</span>{% endif %}</a>
                <div class="dropdown-menu" aria-labelledby="navbar-help-link">
                    <a class="dropdown-item" href="{% url 'routes_missing_elevation' %}">Routes Missing Elevation</a>
                    <a class="dropdown-item" href="{% url 'events_missing_names' %}">Events Missing Names</a>
                    <a class="dropdown-item" href="{% url 'events_missing_routes' %}">Events Missing Routes</a>
                    <a class="dropdown-item" href="{% url 'events_missing_control' %}">Events Control Card or Route
                        Sheet</a>
                </div>
            </li>
            {% include "management/menu.html" %}
        </ul>
        {% if not user.is_authenticated %}
        <form class="form-inline ml-auto">
            <a href="{% url 'login' %}?next={{request.path}}" class="mr-sm-2 btn btn-sm btn-outline-light"
                role="button">Login</a>
        </form>
        {% else %}
        <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person" title="person" aria-hidden="true"></span> {{ user.member.firstname }}
                ({{ user.username }})
            </button>
            <div class="dropdown-menu">
                {% if user.is_staff %}
                <a class="dropdown-item" href="/admin">Admin Site</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        {% endif %}
    </div> <!-- navbar -->
</nav>