<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico" />

    <link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/bootstrap.css?cb={% now "W" %}' />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dt.helper.js"></script>

    {% block app-css %}{% endblock %}
    {% block app-js %}{% endblock %}

    <link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/bcrdata.css?cb={% now "W" %}' />
    {% block page-css %}{% endblock %}
    {% block page-js %}{% endblock %}
    <script
        type="text/javascript">var BCRData = BCRData || {}; BCRData.bodyProvider = function () { return document.getElementsByTagName('body')[0]; }</script>

    <title>{% block subtitle %}{% endblock %} -- {% block title %}BC Randonneurs Database{% endblock %}</title>
</head>

{% load tags %}

<body>
    {% include "navbar.html" %}

    <div class="container-fluid">
        <div class="row" id="main-row">
            <div class="col-md-3" id="sidebar">
                <div class="card mb-md-0 mb-sm-2">
                    {% block sidebarcontent %}
                    <!-- instead of sidebar -->
                    <script type="text/javascript">
                        var sidebar = document.getElementById("sidebar");
                        sidebar.style.visibility = "hidden";
                    </script>
                    {% endblock %}
                </div>
            </div> <!-- sidebar -->
            <div class="col-md-9 mt-sm-3 mt-md-0" id="content-container">
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% block content %}
                <!-- instead of content -->
                <script type="text/javascript">
                    var sidebar = document.getElementById("sidebar");
                    if (sidebar.style.visibility == "hidden") {
                        sidebar.style.display = "none";
                        sidebar.classList.remove("col-md-3", "card");
                        var contentContainer = document.getElementById("content-container");
                        contentContainer.classList.remove("col-md-9");
                        contentContainer.classList.add("col-md-11");
                        document.getElementById("main-row").classList.add("justify-content-center");
                    }
                </script>
                {% endblock %}
                {% block fullwidth-content %}
                {% endblock %}
            </div> <!-- col-9 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->

    <footer class="footer" style="font-size: 85%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <hr />
                    The <a href="{{ SITE_URL }}">BC Randonneurs online database</a> is maintained by
                    {% email_tag 'gowlin@gmail.com' 'Ryan Golbeck' %}. Please email if you have any data corrections,
                    problems, or other comments. Note that these pages will change frequently, the site is under
                    construction.
                    <br />
                    &copy; 2011 <a href="http://www.randonneurs.bc.ca">www.randonneurs.bc.ca</a>
                    <br />
                    This page generated {% now "r" %}.
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </footer>

    <script src='{{ STATIC_URL }}js/page.js?cb={% now "W" %}'></script>
</body>

</html>