{% extends "bcrdata/page.html" %}

{% load tags %}
{% block subtitle %}Browse{% endblock %}

{% block content %}

<div class="description">
<p>Use this section to browse the results and events in the database
using the secondary menu above.
</p>
</div>

{% endblock %}
