{% extends "bcrdata/page.html" %}

{% load tags %}

{% block subtitle %}Event Details: {{event}}{% endblock %}

{% block sidebarcontent %}

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>
        {{event.name}} ({{event.eventid}})
        {% if user.is_staff and event.type != 'BCPop' %}
        &nbsp;<a href="/admin/bcrdata/brevetevent/{{event.eventid}}">[edit]</a>
        {% elif user.is_staff and event.type == 'BCPop' %}
        &nbsp;<a href="/admin/bcrdata/populaireevent/{{event.eventid}}">[edit]</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">Type</th>
      <td> {{ event.type }} {{ event.rideGroup }} {{ event.distance }}km </td>
    </tr>
    <tr>
      <th scope="row">Start Date</th>
      <td>
        {{ event.date }}
      </td>
    </tr>
    <tr>
      <th scope="row">Region</th>
      <td>{{ event.acpregion }}</td>
    </tr>
    <tr>
      <th scope="row">Start</th>
      <td><a href="http://maps.google.com/?q={{event.start}}">{{event.start}}</a></td>
    <tr>
      <th scope="row">Route</th>
      <td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
    </tr>
    <tr>
      <th scope="row">Support Level</th>
      <td><span data-toggle="popover" data-trigger="hover" data-html="true"
            title="Support Levels"><a class="fake">{{ event.rank|capfirst }}</a></span>
           <span class="popover-content">
                <ul>
                    <li><b>None</b>: nothing but businesses; organizer at start</li>
                    <li><b>Low</b>: organizer at start and finish</li>
                    <li><b>Medium</b>: at least one staffed control, possibly more; overnight controls may be staffed, but sleeping space is not guaranteed</li>
                    <li><b>High</b>: presence at most controls; food/meals at fully staffed controls; sleeping space at overnight controls</li>
                {{ event.rank }}</ul>
           </span></td>
    </tr>
    {% if event.routeid.climbing != None %}
    <tr>
      <th scope="row">Climbing</th>
      <td>{{event.routeid.climbing}}m ({% feet_convert event.routeid.climbing %}ft)</td>
    </tr>
    {% endif %}
    {% if event.url != "" %}
    <tr>
      <th scope="row">URL</th>
      <td> {{event.url|urlizetrunc:25}} </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<div class="card-body py-1">
    <ul>
        {% if event.controlcard != "" %}<li><a href="{{event.controlcard.url}}">Control Card</a> ({{ event.controlcard.size|filesizeformat }})</li>{% endif %}
        {% if event.routesheet != "" %}<li><a href="{{event.routesheet.url}}">Route Sheet</a> ({{ event.routesheet.size|filesizeformat }})</li>{% endif %}
        {% if event.gpx != "" %}<li><a href="{{event.gpx.url}}">GPX (GPS File)</a> ({{ event.gpx.size|filesizeformat }})</li>{% endif %}
    </ul>
</div>

{% if volunteers %}
<div class="card-header">
    Volunteers
</div>
<table id="EventVolunteersTable" class="table">
  <tbody>
    {% for volunteer in volunteers %}
    <tr>
      <td>{% if volunteer.organizer %}*{% endif %}<a href=/member/{{volunteer.memberid.memberid}}>{{volunteer.memberid}}</a></td>
      <td>{{volunteer.remarks|urlizetrunc:20}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<small class="text-center mb-2">* - Event organizer</small>
{% endif %}

{% if eventresult %}
<div id="EventResult" class="ml-2">
  <ul class="list-unstyled">
    {% if eventresult.reporturl != "" %}<li><a href="{{eventresult.reporturl}}">Report</a></li>{% endif %}
    {% if eventresult.photos != "" %}<li><a href="{{eventresult.photos}}">Photos</a></li>{% endif %}  
    {% if eventresult.conditions != "" %}<li>Conditions: {{eventresult.conditions}}</li>{% endif %}
  </ul>
</div>
{% endif %}

{% endblock %}

{% block content %}

{% if event %}

{% if event.getRandoPonyLink != None %}
<div id="randopony">
  <h2><a href="{{event.getRandoPonyLink}}">Pre-register</a></h2>
</div>
{% endif %}

{% if event.description != "" and event.description != None %}
<div id="description">
{{ event.description|markdownify|safe }}
</div>
{% endif %}

{% if results %}
<h3>Results</h3>
<div id="Results">
  <table id="EventResultsTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
      <tr>
	<th>Member</th>
	<th>Time</th>
	<th>Bicycle Class</th>
	<th>Sortable time</th>
      </tr>
    </thead>

    <tbody>
      {% for result in results %}
      <tr>
	<td><a href="{% url 'member' result.memberid.memberid %}">{{result.memberid}}</a></td>
	<td>{{result.formattime}} {% if result.volunteerpreride %}<span class="volunteerPreride">VP</span>{% endif %}</td>
	<td>{{result.bikeclass}}</td>
	<td>{% if result.time < 0 %}999999999{% else %}{{result.time}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function () {
    $('#EventResultsTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        paging: false,
        columns: [
            null,
            { orderData: 3 },
            null,
            { visible: false, searchable: false }
        ],
        order: [[0, 'asc'], [3, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>
</div>
{% endif %}

{% else %}
<p> Invalid event?? </p>
{% endif %}

{% endblock %}
