{% extends "bcrdata/page.html" %}

{% block subtitle %}Event Listing{% endblock %}

{% block fullwidth-content %}

{% if event_results %}

<table id="events" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="events">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Distance</th>
      <th>ACP Region</th>
      <th>Route</th>
    </tr>
  </thead>

  <tbody>
    {% for event in event_results %}
    <tr>
      <td>{{ event.date|date:"Y-m-d" }}</td>
      <td>
        <a href="{% url 'event' event.eventid %}">
          {% if event.name %}{{event.name}}{% else %}Unnamed{% endif %}
        </a>
        {% if event.ridegroup %}
        ({{event.ridegroup}})
        {% endif %} 
        {% if user.is_staff %}
        &nbsp;<a href="/admin/bcrdata/brevetevent/{{event.eventid}}">[edit]</a>
        {% endif %}
      </td>
      <td> {{ event.distance }} </td>
      <td>{{ event.acpregion }}</td>
      <td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#events').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: '_MENU_ events per page'
        },
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>

{% else %}
<p> Could not find an event matching the given critera.  Please use the back button to try again. </p>
{% endif %}

{% endblock %}
