{% extends "bcrdata/page.html" %}

{% block subtitle %}Event Listing{% endblock %}

{% block fullwidth-content %}

{% if event_results %}

<div id="EventInfo">
  <table id="EventSummary" class="table table-responsive"
        summary="BC Randonneur Event Search Summary">
    <thead>
      <tr>
        <th>Year</th>
        <th>Type</th>
        <th>Team Name</th>
        <th>Distance</th>
        <th>Route</th>
      </tr>
    </thead>

    <tbody>
      {% for event in event_results %}
      <tr>
	<td><b>{% ifchanged event.date.date.year %}{{ event.date|date:"Y" }}{% endifchanged %}</b></td>
	<td>{% ifchanged event.type %}{% if event.type == 'ACPF' %}Fl&egrave;che{% else %}Trace{% endif %}{% endifchanged %}</td>
	<td><a href="{% url 'event' event.eventid %}">{% if event.name %}{{event.name}}{% else %}Unknown{% endif %}</a></td>
	<td> {{ event.distance }} </td>
	<td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- id="EventInfo" -->

{% else %}
<p> Could not find an event matching the given critera.  Please use the back button to try again. </p>
{% endif %}

{% endblock %}
