{% extends "bcrdata/page.html" %}

{% block subtitle %}Event Details: {{event}}{% endblock %}

{% load tags %}

{% if event %}

{% block sidebarcontent %}

<div id="EventInfo" class="summaryBlock">
  <table id="EventDetails" class="table">
    <tbody>
      <tr>
	<th scope="row">Name</th>
	<td>{{event.name}} ({{event.eventid}})</td>
      </tr>
      <tr>
	<th scope="row">Captain</th>
	<td>{% if event.flechecaptain %}<a href="{% url 'member' event.flechecaptain.memberid %}">{{event.flechecaptain}}</a>{% endif %}</td>
      </tr>
      <tr>
	<th scope="row">Type</th>
	<td> {% if event.type == 'ACPF' %}Fl&egrave;che{% else %}Trace{% endif %}</td>
      </tr>
      <tr>
	<th scope="row">Start Date</th>
	<td>{{ event.date }}</td>
      </tr>
      <tr>
        <th scope="row">Distance</th>
	<td>{{event.distance}}</td>
      </tr>
      <tr>
	<th scope="row">Route</th>
	<td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
      </tr>
      {% if event.routeid.climbing != None %}
      <tr>
	<th scope="row">Climbing</th>
	<td>{{event.routeid.climbing}}m ({% feet_convert event.routeid.climbing %}ft)</td>
      </tr>
      {% endif %}
      {% if event.remarks != "" %}
      <tr>
	<th scope="row">Remarks</th>
	<td>{{ event.remarks }}</td>
      </tr>
      {% endif %}
      {% if event.url != "" %}
      <tr>
	<th scope="row">URL</th>
	<td> <a href={{event.url}}> {{event.url}} </a></td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  {% if volunteers %}
  <table id="EventVolunteersTable" class="table">
    <caption>Volunteers</caption>
    <thead>
      <tr>
        <th>Member</th>
	    <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      {% for volunteer in volunteers %}
      <tr>
        <td><a href=/member/{{volunteer.memberid.memberid}}>{{volunteer.memberid}}</a></td>
	    <td>{{volunteer.remarks}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if eventresult %}
  <div id="EventResult">
    {% if eventresult.photos != "" %}<p>Photos: <a href="{{eventresult.photos}}">{{eventresult.photos}}</a></p>{% endif %}  
    
    {% if eventresult.conditions != "" %}<p>Conditions: {{eventresult.conditions}}</p>{% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}

{% if results %}
<div id="EventResults" class="detailsBlock">
  <h3 class="mb-4">Fl&egrave;che Team</h3>
  <table id="EventResultsTable" cellpadding="0" cellspacing="0" border="0"
            class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Member</th>
        <th>Time</th>
        <th>Bicycle Class</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody>
      {% for result in results %}
      <tr>
        <td><a href=/member/{{result.memberid.memberid}}>{{result.memberid}}</a></td>
        <td>{{result.formattime}} {% if result.volunteerpreride %}VP{% endif %}</td>
        <td>{{result.bikeclass}}</td>
        <td>{{result.remarks}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}

{% else %}
<p> Invalid event?? </p>
{% endif %}


