{% extends "page.html" %}

{% block subtitle %}Main{% endblock %}

{% block sidebarcontent %}

<div class="card-header">Upcoming Events:</div>
<div class="card-body">
    {% if upcoming_events|length == 0 %} <p>None! Time off!</p> {% endif %}
    <ul>
        {% for event in upcoming_events %}
        <li><b>{{event.date|date:"Y-m-d"}}</b> - <a href="{% url 'event' event.eventid %}">{{event.acpregion}} {{event.distance}}</a>{% if event.name != "" %} ({{event.name}}){% endif %}
        {% if event.getRandoPonyLink != None %}
        [<a href="{{event.getRandoPonyLink}}">Pre-register</a>]
        {% endif %}
        <p>Route: <a href="{% url 'route' event.routeid.routeid %}">{{event.routeid.name}}</a></p>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="card-header">Recent Permanents</div>
<div class="card-body">
    <ul>
        <ul class="list-unstyled">
        {% for permanent in recent_permanents %}
        {% ifchanged permanent.eventid.date %}
        </ul>
            </li>
            <li>{{permanent.eventid.date|date}}
        <ul class="list-unstyled">{% endifchanged %}
            <li> <a href="{% url 'member' permanent.memberid.memberid %}">{{permanent.memberid.firstname}} {{permanent.memberid.lastname}}</a>
    rode <a href="{% url 'route' permanent.eventid.routeid.routeid %}">{{permanent.eventid.routeid.name}}</a> ({{permanent.formattime}})</li>
    {% endfor %}
        </ul>
    </ul>
    <br/>
    <a href="{% url 'permanents' %}">More ...</a>    
</div>
{% endblock %}

{% load tags %}

{% block content %}

<h2>Welcome</h2>

<p>
Welcome to the BC Randonneurs database.  Use the above navigation
menus to browse and see reports from the database.
</p>

<p>
Use the navigation links at the top of the page to browse this
website.  The browse section allows you to browse through all of the
club's results records; the reporting section puts together common
aggregations and statistics of the club's results, including yearly
summaries and membership lists (if you have ideas for additional types
of reports, please let us know); and finally, the search section allows
you to search the database for members, events or routes.
</p>

<p>
This website and database are still under heavy development, so expect
things to change and check back frequently to find new additions.
There is still a lot of information missing from the database,
especially for events before 2000.  <a href="{% url 'route' 100 %}">
Route 100</a> is the default "unknown" route in our database, any
event using this route is missing information.  If you go
to <a href="{% url 'route' 100 %}">this link</a> you can easily find a
list of events that are missing route information.
</p>

<p>
If you would like to see more information entered for these rides and
have control cards or other information from these rides, it would
help us out a lot if you
could {% email_tag 'db@randonneurs.bc.ca' 'contact us' %}.
</p>

{% endblock %}
