{% extends "bcrdata/page.html" %}

{% block subtitle %}Member List{% endblock %}

{% block fullwidth-content %}

{% if member_results %}
  
<table id="MemberSearchDetails" cellpadding="0" cellspacing="0" border="0"
        class="table table-striped table-bordered hide-while-loading">
  <thead>
    <tr>
      <th>Member #</th>
      <th>Name </th>
      <th>Club</th>
      <th>Join Year</th>
      <th>Member Until</th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_results %}
    <tr>
      <td><a href=/member/{{member.memberid}}>{{ member.memberid }}</a></td>
      <td>
        {{ member }}
        {% if user.is_staff %}
        &nbsp;<a href="/admin/bcrdata/member/{{member.memberid}}">[edit]</a>
        {% endif %}
      </td>
      <td>{{ member.club }} </td>
      <td>{{ member.joinyear.year }}</td>
      <td>{{ member.expiredate.isoformat }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#MemberSearchDetails').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: '_MENU_ members per page'
        },
        order: [[1, 'asc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>

{% else %}
<p> Could not find member matching "{{search_string}}". Please use the back button to try again.</p>
{% endif %} 

{% endblock %}
