{% extends "bcrdata/page.html" %}

{% block page-css %}
<style type="text/css">
h4 > a:hover {
    text-decoration: none;
}
div.collapse.out.show {
    margin-bottom: 2em;
}
</style>
{% endblock %}

{% block subtitle %}Member Details: {{ member.firstname }} {{member.lastname}}{% endblock %}

{% if member %}

{% block sidebarcontent %}
<table class="table table-responsive">
  <tbody>
    <tr>
      <th scope="row">Member</th>
      <td>
        {{member.firstname }} {{ member.lastname}} (#{{ member.memberid }})
        {% if user.is_staff %}
        &nbsp;<a href="/admin/bcrdata/member/{{member.memberid}}">[edit]</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">Club</th>
      <td>{{ member.club }} </td>
    </tr>
    <tr>
      <th scope="row">Join Year</th>
      <td>{{ member.joinyear.year }}</td>
    </tr>
    <tr>
      <th scope="row">Member Until</th>
      <td>{{member.expiredate.year}} </td>
    </tr>
    {% if brevetDist > 0 %}
    <tr>
      <th scope="row">Brevet Distance</th>
      <td>{{brevetDist}}km ({{brevetTotal}} events)</td>
    </tr>
    {% endif %}
    {% if permDist > 0 %}
    <tr>
      <th scope="row">Permanent Distance</th>
      <td>{{permDist}}km ({{permTotal}} events)</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% if user.is_staff or user.member.is_current_member %}
<hr/>

{% if member.info_release %}

<div class="card-body" style="margin-top: -3em">
    <h6 class="card-subtitle mb-1 text-muted">Contact Information</h6>
    You can see this information because you are logged in and this person has chosen to share their information with members.
</div>

<table id="member_info" class="table">
  <tbody>
    <tr>
      <th>Email</th>
      <td>{{member.email}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        {{member.address}}<br/>
        {{member.city}}, {{member.province}}<br/>
        {{member.country}} {{member.postalcode}}<br/>
      </td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>
        {% if member.dayphone %}{{member.dayphone}} (day)<br/>{% endif %}
        {% if member.evephone %}{{member.evephone}} (evening}{% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% else %}

<p>
  This member is not sharing their contact information.
</p>

{% endif %}
{% endif %}

{% endblock %}

{% block content %}

{% if volunteers.exists %}
<h4><a href="#" data-toggle="collapse" data-target="#MemberVolunteers">Volunteering History* <small class="oi oi-chevron-right" title="person" aria-hidden="true"></small></a></h4>
<div id="MemberVolunteers" class="collapse out">
  <table id="VolunteerStats" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ride Date</th>
        <th>Event</th>
        <th>Group</th>
        <th>Distance</th>
        <th>Region</th>
      </tr>
    </thead>

    <tbody>
      {% for volunteer in volunteers %}
      <tr>
        <td>{{volunteer.eventid.date|date:"Y-m-d"}}</td>
	<td><a href="/event/{{volunteer.eventid.eventid}}">{{volunteer.eventid.name}}</a>{% if volunteer.organizer %} (organizer){% endif %}</td>
	<td>{{volunteer.eventid.ridegroup}}</td>
	<td>{{volunteer.eventid.distance}}</td>
	<td>{{volunteer.eventid.acpregion}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    $('#VolunteerStats').dataTable({
        dom: BCRData.dataTablesDOMOption,
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>
</div>
{% endif %}

{% if brevetResults.exists %} 
<h4><a href="#" data-toggle="collapse" data-target="#MemberBrevetStats">Brevet Results <small class="oi oi-chevron-right" title="person" aria-hidden="true"></small></a></h4>
<div id="MemberBrevetStats" class="collapse out">
  <table id="MemberBrevetTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ride Date</th>
        <th>Event</th>
        <th>Type</th>
        <th>Group</th>
        <th>Dist.</th>
        <th>Region</th>
        <th>Homolgation</th>
        <th>Time</th>
        <th>Bicycle Class</th>
        <th>Sortable time</th>
      </tr>
    </thead>

    <tbody>
      {% for result in brevetResults %}
      <tr>
        <td>{{result.eventid.date|date:"Y-m-d"}}</td>
        <td><a href=/event/{{result.eventid.eventid}}>{% if result.eventid.name == "" %}{{result.eventid.eventid}}{% else %}{{result.eventid.name}}{% endif %}</a></td>
        <td>{{result.eventid.type}}</td>
        <td>{{result.eventid.ridegroup}}</td>
        <td>{{result.eventid.distance}}</td>
        <td>{{result.eventid.acpregion}}</td>
        <td>{% if result.acpnumber != None %}{{result.acpnumber}}{% endif %}</td>
        <td>{{result.formattime}}{% if result.volunteerpreride %} VP {% endif %}</td>
        <td>{{result.bikeclass}}</td>
        <td>{% if result.time < 0 %}999999999{% else %}{{result.time}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    $('#MemberBrevetTable').DataTable({
        dom: BCRData.dataTablesDOMOption,
        columnDefs: [
            { targets: 7, orderData: -1 },
            { targets: -1, visible: false, searchable: false }
        ],
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

</div>
{% endif %}

{% if permResults.exists %}
<h4><a href="#" data-toggle="collapse" data-target="#PermanentResults">Permanent Results <small class="oi oi-chevron-right" title="person" aria-hidden="true"></small></a></h4>
<div id="PermanentResults" class="collapse out">
  <table id="PermanentResultsTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <caption>Individual Permanent Statistics {% if year %}for {{ year }}{% else %}to Date{% endif %}</caption>
    <thead>
      <tr>
	<th>Ride Date</th>
	<th>Event</th>
	<th>Distance</th>
	<th>Region</th>
	<th>Time</th>
	<th>Bicycle Class</th>
	<th>Sortable time</th>
      </tr>
    </thead>

    <tbody> 
      {% for result in permResults %}
      <tr>
	<td>{{result.eventid.date|date:"Y-m-d"}}</td>
	<td><a href="{% url 'event' result.eventid.eventid %}">{% if result.eventid.name == "" %}{{result.eventid.eventid}}{% else %}{{result.eventid.name}}{% endif %}</a></td>
	<td>{{result.eventid.distance}}</td>
	<td>{{result.eventid.acpregion}}</td>
	<td>{{result.formattime}}{% if result.official %} <span class="verifiedTag">v</span>{% endif %}</td>
	<td>{{result.bikeclass}}</td>
	<td>{% if result.time < 0 %}999999999{% else %}{{result.time}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    $('#PermanentResultsTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        columnDefs: [
            { targets: [4], orderData: 6 },
            { targets: [6], visible: false, searchable: false }
        ],
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

</div>
{% endif %}

{% if designedRoutes.exists %}
<h4><a href="#" data-toggle="collapse" data-target="#DesignedRoutes">Designed Routes <small class="oi oi-chevron-right" title="person" aria-hidden="true"></small></a></h4>
<div id="DesignedRoutes" class="collapse out">
  <table id="DesignedRoutesTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <caption>Designed Routes</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Controls</th>
      </tr>
    </thead>

    <tbody> 
      {% for route in designedRoutes %}
      <tr>
        <td>
          <a href="{% url 'route' route.routeid %}">{{route.name}}</a>
          {% if user.is_staff %}
          &nbsp;<a href="/admin/bcrdata/route/{{route.routeid}}">[edit]</a>
          {% endif %}
        </td>
        <td>
          {{route.distance}}
        </td>
        <td>
          {{route.controls}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    $('#DesignedRoutesTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

</div>
{% endif %}

* - Volunteering data is incomplete especially pre-2004.

{% endblock %}

{% else %}
<p> Invalid member?? </p>
{% endif %}

