{% extends "bcrdata/page.html" %}

{% block subtitle %}Permanents{% endblock %}

{% block fullwidth-content %}

{% if event_results %}

{% load tags %}

<table id="PermanentSummaryTable"
       class="hide-while-loading table table-responsive table-striped table-bordered"
       style="width: 100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Rider</th>
      <th>Time</th>
      <th>Distance</th>
      <th>Route</th>
      <th>Reports Photos & Notes</th>
    </tr>
  </thead>
  
  <tbody>
    {% for event in event_results %}
    {% for result in event.getResults %}
    <tr class="{% ifchanged event %}perm-top{% endifchanged %}">
      <td>{{ event.date|date:"Y-m-d" }}</td>
      <td><a href="{% url 'member' result.memberid.memberid %}">{{result.memberid.firstname}} {{result.memberid.lastname}}</a></td>
      <td>{{result.formattime}}{% if result.official %}<span style="color: #999900;" class="verifiedTag"> v</span>{% endif %}</a></td>
      <td> {{ event.distance }} </td>
      <td><a href="{% url 'route' event.routeid.routeid %}"> {{event.routeid.routeid}}: {{event.routeid.name}}</a></td>
      <td>{{result.remarks|safe}}</td>
   </tr>
   {% endfor %}
   {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#PermanentSummaryTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: '_MENU_ permanents per page'
        },
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25,
        responsive: true,
        columnDefs: [
            {targets: [0,1], width: "10%"},
            {targets: [2,3], width: "7%"},
            {targets: [4],   width: "15%"}
        ]
    });
});
</script>


{% else %}
<p> Could not find an event matching the given critera.  Please use the back button to try again. </p>
{% endif %}

{% endblock %}
