{% extends "bcrdata/page.html" %}

{% load tags %}

{% block subtitle %}Routes{% endblock %}

{% block fullwidth-content %}

{% if route_results %}

<table id="RouteSummary" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Distance (km)</th>
      <th>Climbing m</th>
      <th>Region</th>
      <th>Permanent</th>
      <th>Name</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    {% for route in route_results %}
    <tr>
      <td>{{route.distance}}</td>
      <td>{% if route.climbing != None %}{{ route.climbing }}{% endif %}</td>
      <td>{{route.acpregion}} </td>
      <td>{% if route.permanentid != None %}#{{route.permanentid}}{% endif %}
	{% if route.controlcard != "" %} <a href="{{route.controlcard.url}}">C</a>{% endif %}
	{% if route.routesheet.url != "" %} <a href="{{route.routesheet.url}}">R</a>{% endif %}
	{% if route.gpx != "" %} <a href="{{route.gpx.url}}">G</a>{% endif %}
      </td>
      <td>
        <a href="{% url 'route' route.routeid %}">{{route.name}}</a>
        {% if user.is_staff %}
        &nbsp;<a href="/admin/bcrdata/route/{{route.routeid}}">[edit]</a>
        {% endif %}
      </td>
      <td>{{route.controls}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function () {
    $('#RouteSummary').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: "_MENU_ routes per page"
        },
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>


{% endif %} 

{% endblock %}
