{% extends "bcrdata/page.html" %}

{% block subtitle %}Route Details: {{route}}{% endblock %}

{% load tags %}

{% if route %}

{% block sidebarcontent %}

<div class="summaryBlock">
<h4 class="card-header">Route Details</h4>
  <div class="card-body">
  <table id="RouteDetails" class="table">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td> 
                {{route.name}}
                {% if user.is_staff %}
                &nbsp;<a href="/admin/bcrdata/route/{{route.routeid}}">[edit]</a>
                {% endif %}
            </td>
            </tr>
            <tr>
        <th scope="row">Distance</th>
        <td> {{route.distance}} </td>
            </tr>
            <tr>
        <th scope="row">Controls</th>
        <td> {{route.controls}} </td>
            </tr>
            {% if route.submitter != None %}
            <tr>
        <th scope="row">Submitter</th>
        <td> <a href="{% url 'member' route.submitter.memberid %}">{{route.submitter}}</a></td>
            </tr>
            {% endif %}
            <tr>
        <th scope="row">Active</th>
        <td> {% booleanToYes route.active %} </td>
            </tr>
            <tr>
        <th scope="row">Brevet</th>
        <td> {% booleanToYes route.brevet %} </td>
            </tr>
            {% if route.permanentid != None %}
            <tr>
        <th>Permanent</th>
        <td> #{{ route.permanentid }} </td>
            </tr>
            {% endif %}
            {% if route.remarks != "" %}
            <tr>
        <th scope="row">Remarks</th>
        <td> {{route.remarks|urlize}} </td>
            </tr>
            {% endif %}
            {% if route.lastreviewed != None %}
            <tr>
        <th scope="row">Last Reviewed</th>
        <td> {{route.lastreviewed}} </td>
            </tr>
            {% endif %}
            <tr>
        <th scope="row">Climbing</th>
        {% if route.climbing != None %}
        <td>{{route.climbing}}m ({% feet_convert route.climbing %}ft)</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}	
            </tr>
        </tbody>
        </table>

        <ul>
        {% if recent_event %}
        Recent Event Files (<a href="{% url 'event' recent_event.eventid %}">{% if recent_event.name != "" %}{{recent_event.name}} on {% endif %}{{recent_event.date|date:"Y-m-d"}}</a>)
        <ul> 
        {% if recent_event.controlcard != "" %}<li><a href="{{recent_event.controlcard.url}}">Control Card</a> ({{ recent_event.controlcard.size|filesizeformat }})</li>{% endif %}
        {% if recent_event.routesheet != "" %}<li><a href="{{recent_event.routesheet.url}}">Routesheet</a> ({{ recent_event.routesheet.size|filesizeformat }})</li>{% endif %}
        {% if recent_event.gpx != "" %}<li><a href="{{recent_event.gpx.url}}">GPX</a> ({{ recent_event.gpx.size|filesizeformat }})</li>{% endif %}
        </ul><br/>
        {% endif %}

        {% if route.url != "" %}<li><a href="{{route.url}}">Notes, Maps, Reports and Photos</a></li>{% endif %}
        {% if route.controlcard != "" %}<li><a href="{{route.controlcard.url}}">Permanent Control Card</a> ({{ route.controlcard.size|filesizeformat }})</li>{% endif %}
        {% if route.routesheet != "" %}<li><a href="{{route.routesheet.url}}">Permanent Routesheet</a> ({{ route.routesheet.size|filesizeformat }})</li>{% endif %}
        {% if route.gpx != "" %}<li><a href="{{route.gpx.url}}">Permanent GPX (GPS File)</a> ({{ route.gpx.size|filesizeformat }})</li>{% endif %}
        </ul>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="detailsBlock">
  
  {% if route.routeid != 100 %}
  <table id="TopRouteResults" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <caption>Top 15 Results on the Route</caption>
    <thead>
      <tr>
	<th>Rider</th>
	<th>Ride Date</th>
	<th>Event</th>
	<th>Type</th>
	<th>Group</th>
	<th>Distance</th>
	<th>Time</th>
	<th>Bicycle Class</th>
      </tr>
    </thead>

    <tbody>
      {% for result in results %}
      <tr>
	<td><a href=/member/{{result.memberid.memberid}}>{{result.memberid}}</a></td>
	<td>{{result.eventid.date|date:"Y-m-d"}}</td>
	<td><a href=/event/{{result.eventid.eventid}}>{% if result.eventid.name == "" %}{{result.eventid.eventid}}{% else %}{{result.eventid.eventid}}: {{result.eventid.name}}{% endif %}</a></td>
	<td>{{result.eventid.type}}</td>
	<td>{{result.eventid.ridegroup}}</td>
	<td>{{result.eventid.distance}}</td>
	<td>{{result.formattime}}{% if result.volunteerpreride %} VP {% endif %}</td>
	<td>{{result.bikeclass}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br/><br/>
  {% endif %}

  <table id="RouteEventSummary" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <caption>Events to use this Route</caption>
    <thead>
      <tr>
	<th>Name</th>
	<th>Date</th>
	{% if route.routeid == 100 %} <th>Region</th> {% endif %}
	<th>Ride Type</th>
	<th>URL</th>
      </tr>
    </thead>

    <tbody>
      {% for event in events %}
      <tr>
	<td><a href="/event/{{event.eventid}}">{{event.eventid}}: {{event.name}}</a></td>
	<td>{{ event.date|date:"Y-m-d"}}</td>
	{% if route.routeid == 100 %}<td>{{event.acpregion}}</td>{% endif %}
	<td>{{ event.type }}</td>
	<td>{% if event.url %}<a href={{event.url}}> {{event.url}}{% endif %}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#RouteEventSummary').dataTable({
        dom: BCRData.dataTablesDOMOption,
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>
<style>
    
</style>

{% endblock %}
{% endif %}
