{% extends "reporting/page.html" %}

{% block subtitle %}Current Membership{% endblock %}

{% block sidebarcontent %}
{% if user.is_authenticated %}
<div class="card-body">
    <p>I see you're logged in!</p>
    <p><a href="/management/membership_list_csv">Click here</a> to download a <code>.csv</code> list of current members.</p>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block content %}

<table id="CurrentMembersTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Rider ID</th>
      <th>Name</th>
      <th>Region</th>
      <th>Join Year</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <td><a href="/member/{{member.memberid}}">{{member.memberid}}</a></td>
      <td class="name">{{member.lastname}}, {{member.firstname}}</td>
      <td class="club">{{member.club}}</td>
      <td class="join-year">{{member.joinyear.year}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
/* Table initialisation */
$(document).ready(function() {
	$('#CurrentMembersTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: '_MENU_ members per page'
        },
        order: [[1, 'asc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
} );
</script>


{% endblock %}
