{% extends "reporting/page.html" %}

{% load tags %}

{% block subtitle %}Fastest Brevets{% endblock %}

{% block fullwidth-content %}

<table class="table">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Time</th>
      <th>Date</th>
      <th>Rider</th>
      <th>Event</th>
  </thead>
  
  {% for fastest_time in fastest_times %}
  {% for result in fastest_time %}
  <tr>
    <td>{% ifchanged result.distance %}<a href="{% url 'fastest_brevets_distance' result.distance %}">{{result.distance}}</a>{% endifchanged %}</td>
    <td>{% ifchanged result.time %}{{result.time}}{% endifchanged %}</td>
    <td>{% ifchanged result.date %}{{result.date|date:"Y-m-d"}}{% endifchanged %}</td>
    <td><a href="{% url 'member' result.rider.memberid %}">{{result.rider}} ({{result.rider.gender}})</a></td>
    <td>{% ifchanged result.event %}<a href="{% url 'event' result.event.eventid %}">{{result.event.name}}{% endifchanged %}</a></td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>

{% endblock %}
