{% extends "reporting/page.html" %}

{% load tags %}

{% block subtitle %}Fastest {{distance}}km Brevets{% endblock %}

{% block content %}

<h1>Fastest {{distance}}s</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Rider</th>
      <th>Time</th>
      <th>Event</th>
  </thead>
  
  {% for result in results %}
  <tr>
    <td>{% ifchanged result.eventid.date %}{{result.eventid.date|date:"Y-m-d"}}{% endifchanged %}</td>
    <td><a href="{% url 'member' result.memberid.memberid %}">{{result.memberid}} ({{result.memberid.gender}})</a></td>
    <td>{% ifchanged result.formattime %}{{result.formattime}}{% endifchanged %}</td>
    <td>{% ifchanged result.eventid %}<a href="{% url 'event' result.eventid.eventid %}">{{result.eventid.name}}{% endifchanged %}</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
