{% extends "reporting/page.html" %}

{% load tags %}

{% block subtitle %}Life-time Event Distance{% endblock %}

{% block sidebarcontent %}
<div class="card-body">
    <h4 class="card-title">Life-time Event Distance</h4>
    <div class="card-text">
    This list includes all club members with a life-time event distance totals over 5000 km. <br/>
    This list contains ACP and RM sanctioned randonneur events ridden anywhere in the world.
    It contains all distance by club members who live in BC.
    It includes all of the the annual distance ridden anywhere by club members who live 
    outside of BC, if the members have ridden a 200-600 brevet series, or four rides of longer distances, in BC, in that year.
    The list also includes all of the distance ridden anywhere by riders who live outside BC if those riders 
    have lifetime event distance totals of over 20,000 km ridden in BC.
    <br/>
    This page only shows verified events.
    </div>
</div>

{% endblock %}

{% block content %}

<div>
  <table id="RiderTotals" cellpadding="0" cellspacing="0" border="0"
        class="hide-while-loading table table-striped table-bordered table-responsive">
    <caption>Brevets</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>SR Count</th>
        <th>Lifetime Event Count</th>
        <th>Lifetime Total Distance</th>
        <th>Lifetime Total Time</th>
        <th>Sortable total time</th>
      </tr>
    </thead>
    <tbody>
      {% for result in yearResults %}
      <tr>
        <td><a href="{% url 'member' result.memberid__memberid %}">{{result.memberid__lastname}}, {{result.memberid__firstname}}</a></td>
        <td>{{allSRs|srsByMember:result.memberid__memberid|length}}</td>
        <td>{{result.memberid__count}}</td>
        <td {% if result.eventid__distance__sum > 100000 %}class="table-success"{% endif %}>{{result.eventid__distance__sum}}</td>
        <td>{% formattime_days result.time__sum %}</td>
        <td>{{result.time__sum}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#RiderTotals').dataTable({
        dom: BCRData.dataTablesDOMOption,
        columnDefs: [
            { targets: 4, orderData: 5 },
            { targets: 5, visible: false, searchable: false }
        ],
        order: [[3, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

{% endblock %}

