
{% load tags %}

<table id="{{table_id}}" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>Name</th>
        <th>Event Count</th>
        <th>Total Distance</th>
        <th>Total Time</th>
        <th>Sortable total time</th>
        </tr>
    </thead>
    <tbody>
        {% for result in result_list %}
        <tr>
        <td><a href="{% url 'member' result.memberid__memberid %}">{{result.memberid__lastname}}, {{result.memberid__firstname}}</a></td>
        <td>{{result.memberid__count}}</td>
        <td>{{result.eventid__distance__sum}}</td>
        <td>{% formattime_days result.time__sum %}</td>
        <td>{{result.time__sum}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $('#{{table_id}}').dataTable({
        dom: BCRData.dataTablesDOMOption,
        columnDefs: [
            { targets: 3, orderData: 4 },
            { targets: 4, visible: false, searchable: false }
        ],
        autoWidth: false,
        order: [[2, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    });
});
</script>