{% extends "reporting/page.html" %}

{% load tags %}

{% block subtitle %}Annual Totals{% endblock %}
{% block sidebarcontent %}
<div class="card-header">Years</div>
<div class="card-body">
    <ul>
    {% for y in year_list %}
        <li>
        {% if y == year %}
            <b>{{ y }}</b>
        {% else %}
            <a href="{% url 'rider_totals' %}{{y}}/">{{ y }}</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">$("#sidebar").addClass('col-md-2').removeClass('col-md-3');</script>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-6 col-md">
  <h3 class="text-muted">Randonn&eacute;es</h3>
    {% with result_list=brevet_results %}{% with table_id="brevet-totals" %}
        {% include "reporting/rider-totals-table.html" %}
    {% endwith %}{% endwith %}
  </div>

  <div class="col-6 col-md ml-xl-auto mt-4 mt-xl-0">
  <h3 class="text-muted">Permanents<sup style="color: black">*</sup></h3>
  {% with result_list=permanent_results %}{% with table_id="permanent-totals" %}
      {% include "reporting/rider-totals-table.html" %}
  {% endwith %}{% endwith %}
  </div>
</div>

<div class="row mt-4">
<p>* - This page only shows verified events.  To see a list of unofficial permanents go <a href="{% url 'permanents' %}">here.</a></p
</div>



{% endblock %}

