{% extends "reporting/page.html" %}
{% load tags %}

{% block subtitle %}{{page_name}}{% endblock %}

{% block sidebarcontent %}

{% with what_are_missing="route elevation data" %}
{% with what_to_email="details about the elevation gain" %}
{% include "reporting/missing-blurb.html" %}
{% endwith %}
{% endwith %}

{% endblock %}



{% block content %}

{% if route_results %}

<table id="RouteSummary" cellpadding="0" cellspacing="0" border="0" 
    class="hide-while-loading table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Last Run</th>
      <th>Dist. (km)</th>
      <th>Region</th>
      <th>Permanent</th>
      <th>Name</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    {% for route in route_results %}
    <tr>
        {% with latest_event=latest_event_results|lookup:forloop.counter0 %}
        {% if latest_event != None %}
            <td><a href="{% url 'event' latest_event.eventid %}">{{latest_event.date.date.isoformat}}</a></td>
        {% else %}
            <td></td>
        {% endif %}
        {% endwith %}
      <td>{{route.distance}}</td>
      <td>{{route.acpregion}} </td>
      <td>{% if route.permanentid != None %}#{{route.permanentid}}{% endif %}
	{% if route.controlcard != "" %} <a href="{{route.controlcard.url}}">C</a>{% endif %}
	{% if route.routesheet.url != "" %} <a href="{{route.routesheet.url}}">R</a>{% endif %}
	{% if route.gpx != "" %} <a href="{{route.gpx.url}}">G</a>{% endif %}
      </td>
      <td><a href="{% url 'route' route.routeid %}">{{route.name}}</a> </td>
      <td>{{route.controls}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#RouteSummary').dataTable({
		dom: BCRData.dataTablesDOMOption,
		language: {
			lengthMenu: "_MENU_ events per page"
		},
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	})
    .find('th').css('width','');
});
</script>
<style>
    #RouteSummary th:nth-of-type(1) {
        width: 5em;
    }
</style>


{% endif %} 

{% endblock %}
