
{% extends "reporting/page.html" %}

{% load tags %}

{% block subtitle %}Super Randonneurs{% endblock %}

{% block sidebarcontent %}
<h4 class="card-header">Numbers SRs</h4>
<table class="table" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    {% for sr_year in yearList %}
    <tr>
      {% if sr_year == year %}
      <td><b>{{sr_year}}</b></td>
      {% else %}
      <td><a href="{% url 'sr' sr_year %}">{{sr_year}}</a></td>
      {% endif %}
      <td>{{ all_srs|lookup:sr_year|length }} <span data-toggle="tooltip" data-placement="right" title="Number of first time SRs">({{ all_srs|lookup:sr_year|firstsrcount }})</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">$("#sidebar").addClass('col-md-2').removeClass('col-md-3');</script>
{% endblock %}


{% block content %}

<table id="SRResults" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Member</th>
      <th>200</th>
      <th>300</th>
      <th>400</th>
      <th>600</th>
    </tr>
  </thead>
  <tbody>
    {% for sr in SRs %}
    <tr>
      <td><a href="{% url 'member' sr.member.memberid %}">{{sr.member}}</a>{% if sr.firstyear  %}<sup> 1st SR</sup>{% endif %}</td>
      <td><a href="{% url 'event' sr.b200.eventid.eventid %}">{{sr.b200.eventid.date_and_name}}</a>{% if sr.b200.acpnumber != None %}<span data-toggle="tooltip" data-placement="bottom" title="ACP Homolgation Number"> ({{sr.b200.acpnumber}})</span>{% endif %}</td>
      <td><a href="{% url 'event' sr.b300.eventid.eventid %}">{{sr.b300.eventid.date_and_name}}</a>{% if sr.b300.acpnumber != None %}<span data-toggle="tooltip" data-placement="bottom" title="ACP Homolgation Number"> ({{sr.b300.acpnumber}})</span>{% endif %}</td>
      <td><a href="{% url 'event' sr.b400.eventid.eventid %}">{{sr.b400.eventid.date_and_name}}</a>{% if sr.b400.acpnumber != None %}<span data-toggle="tooltip" data-placement="bottom" title="ACP Homolgation Number"> ({{sr.b400.acpnumber}})</span>{% endif %}</td>
      <td><a href="{% url 'event' sr.b600.eventid.eventid %}">{{sr.b600.eventid.date_and_name}}</a>{% if sr.b600.acpnumber != None %}<span data-toggle="tooltip" data-placement="bottom" title="ACP Homolgation Number"> ({{sr.b600.acpnumber}})</span>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

Download the <a href="{% url 'srcsv' year %}">csv</a></td><br/>
Next to the event links, you will find the homolgation number if available.

{% endblock %}
