{% extends "reporting/page.html" %}
{% load i18n %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}reporting/reporting.css?cb={% now 'W' %}" media="screen" />
{% endblock %}

{% block subtitle %}Volunteer Report{% endblock %}

{% block sidebarcontent %}
<div class="card-header">Yearly Reports</div>
<div class="card-body">
    <div class="card-text mb-2">
        Group by region? <input type="checkbox" name="group-by-region" id="filter-region" />
    </div>
    <ul>
        {% if year == '-1' %}
        <li><b>All</b></li>
        {% else %}
        <li><a href="{% url 'volunteer_report' 'all' %}">All</a></li>
        {% endif %}
        {% for y in year_list %}
        <li>
            {% if y == year %}
            <b>{{ y }}</b>
            {% else %}
            <a href="{% url 'volunteer_report' y %}">{{ y }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
<script type="text/javascript">$("#sidebar").addClass('col-md-2').removeClass('col-md-3');</script>

{% block content %}
<div class="mb-3">
    <a data-toggle="collapse" data-target="#report-info" tabindex="0" aria-expanded="false"
        aria-controls="report-info">What do these numbers mean? <small class="oi oi-chevron-right"></small></a>
    <div id="report-info" class="collapse">
        <div class="card card-body">
            <p>This report attempts to give an overview of volunteer contributions.{% if year < 2004 %} Please remember,
                however, volunteering info pre-2004 is especially incomplete.{% endif %}<br />
                Points are given:</p>
            <ul>
                <li>for every event with more than 1 rider</li>
                <li>1 per event volunteered</li>
                <li>2.5 per event organized, 4 if it's the fl&egrave;che, 6 if it's a populaire</li>
                <li>+0.5 per every 20 people at the event</li>
            </ul>
            <p>
                Populaires with multiple distances are double counted due to their effort. We don't count events with
                only one rider.<br />
                As with any club, other behind the scenes work is not accounted for such as the <a
                    href="http://www.randonneurs.bc.ca/aboutbcr/aboutbcr.html">exec or their helpers</a>.</p>
        </div>
    </div>
</div>

{% if group_by_region is True %}{% for region in region_list %}
<!-- inherit from parent -->
<div {% if year == '-1' %}class="volunteer-row" {% endif %}>
    <h3 class="title">{{region}}</h3>
    <table id="volunteers-for-region-{{region.idclubcodes}}"
        class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Events</th>
            </tr>
        </thead>

        <tbody>
            {% for volunteer in volunteer_list %}{% if volunteer.region_id == region.idclubcodes %}
            <tr>
                <td><a
                        href="{% url 'member' volunteer.memberid %}">{{volunteer.name}}</a>{% if volunteer.guessed_region %}&dagger;{% endif %}
                </td>
                <td>{{volunteer.points}}</td>
                <td {% if volunteer.event_count >= 15 %}class="large-event-cell" {% endif %}>
                    {% for event in volunteer.events %}{% if not forloop.first %}, {% endif %}<a
                        href="{% url 'event' event.eventid %}">{{event.name}}</a>{{ event.did_organize|yesno:"*," }}{% endfor %}
                </td>
            </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
&dagger; - We assigned the volunteer's region based on the event they volunteered for<br />
{% else %}
<div class="volunteer-row">
    <h3 class="title">Volunteers for {% if year == '-1' %}All Time {% else %}{{year}}{% endif %}</h3>
    <table id="volunteers" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Events</th>
            </tr>
        </thead>

        <tbody>
            {% for volunteer in volunteer_list %}
            <tr>
                <td><a href="{% url 'member' volunteer.memberid %}">{{volunteer.name}}</a></td>
                <td>{{volunteer.points}}</td>
                <td {% if volunteer.event_count  >= 15 %}class="large-event-cell" {% endif %}>
                    {% for event in volunteer.events %}{% if not forloop.first %}, {% endif %}<a
                        href="{% url 'event' event.eventid %}">{{event.name}}</a>{{ event.did_organize|yesno:"*," }}{% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
* - event organizer

<script type="text/javascript">
    var groupByRegion = {{ group_by_region|yesno:"true,false" }};
    document.getElementById('filter-region').checked = groupByRegion;
    $(document).ready(function () {
        $('#filter-region').change(function (event) {
            var currentUrl = window.location.href.split('?')[0];
            window.location.replace(currentUrl + "?group_by_region=" + ($(this).is(":checked") ? 'true' : 'false'));
        });
        $('.volunteer-row > table').dataTable({
            dom: BCRData.dataTablesDOMOption,
            order: [[1, 'desc']],
            stateSave: true,
            stateDuration: 600,
            pageLength: 25,
            language: {
                lengthMenu: '_MENU_ volunteers per page'
            }
        });
        $('.volunteer-row').each(function () {
            var $table = $(this).find('table');
            if ($table.find('td.large-event-cell').length > 0) {
                $(this).find('#' + $table[0].id + '_length').append('<span style="float: right">(hover on large cells to expand)</span>');
            }
            $table.find('th').css('width', '');
        });
    });
</script>
<style>
    .volunteer-row table th:nth-of-type(1) {
        width: 8em;
    }

    .volunteer-row table th:nth-of-type(2) {
        width: 2em;
    }
</style>
{% endblock %}