{% extends "reporting/page.html" %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}reporting/reporting.css?cb={% now 'W' %}" media="screen" />
{% endblock %}


{% block fullwidth-content %}

<div id="SummaryInfo">

    <table id="SummaryDetails" summary="Yearly summary">
        <thead>
            <tr>
                <th>Total KM</th>
                <th>Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>RideGroup</th>
                <th>200</th>
                <th>300</th>
                <th>400</th>
                <th>600</th>
                <th>1000</th>
                <th>1200</th>
                <th>&gt;1200</th>
                <th>Fleche Team</th>
                <th>Dist</th>
            </tr>
        </thead>

        <tbody>
            {% for rider in riders %}
            <tr class="{% if rider.total_distance != "" %}rider-top{% endif %}">
                <td>{{rider.total_distance}}</td>
                <td><a href="/member/{{rider.member_id}}">{{rider.name}}</a></td>
                <td>{{rider.location}}</td>
                <td>{{rider.date}}</td>
                <td class="ride-group">{{rider.ridegroup}}</td>

                <td>
                    {% for key, value in rider.b200.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b300.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b400.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b600.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b1000.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b1200.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for key, value in rider.b2000.items %}
                    <a href="/event/{{ key }}">{{ value }}</a>
                    {% endfor %}
                </td>

                <td>{{rider.flechteam}}</td>
                <td>{{rider.flechdist}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}