{% extends "reporting/page.html" %}

{% block fullwidth-content %}

<h1>Summary for {{year}}</h1>

<br/>
<h2>Ride Count by Brevet Region</h2>
<table id="SummaryDetailsByEvent" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>200</th>
      <th>300</th>
      <th>400</th>
      <th>600</th>
      <th>1000</th>
      <th>1200</th>
      <th>Fleche</th>
      <th>All Distances</th>
    </tr>
  </thead>

  <tbody>
    {% for region in summary.by_region %}
    <tr>
      <td {% ifequal region.name "Totals"%}style="font-weight: bold"{% endifequal %}>{{region.name}}</td>
      <td>{{region.200|default:"0"}}</td>
      <td>{{region.300|default:"0"}}</td>
      <td>{{region.400|default:"0"}}</td>
      <td>{{region.600|default:"0"}}</td>
      <td>{{region.1000|default:"0"}}</td>
      <td>{{region.1200|default:"0"}}</td>
      <td>{{region.fleche|default:"0"}}</td>
      <td>{{region.total|default:"0"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<br/>
<h2>Ride Count by Rider's Region</h2>

<table id="SummaryDetailsByMember" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>200</th>
      <th>300</th>
      <th>400</th>
      <th>600</th>
      <th>1000</th>
      <th>1200</th>
      <th>Fleche</th>
      <th>All Distances</th>
    </tr>
  </thead>

  <tbody>
    {% for region in summary.by_riders_region %}
    <tr>
      <td  {% ifequal region.name "Totals"%}style="font-weight: bold"{% endifequal %}>{{region.name}}</td>
      <td>{{region.200|default:"0"}}</td>
      <td>{{region.300|default:"0"}}</td>
      <td>{{region.400|default:"0"}}</td>
      <td>{{region.600|default:"0"}}</td>
      <td>{{region.1000|default:"0"}}</td>
      <td>{{region.1200|default:"0"}}</td>
      <td>{{region.fleche|default:"0"}}</td>
      <td>{{region.total|default:"0"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}
