{% extends "management/page.html" %}

{% load tags %}
{% block subtitle %}Processing{% endblock %}

{% block sidebarcontent %}
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="card-link" href="{% url 'unofficial_results' %}">Unoffical Results</a></li>
    <li class="list-group-item"><a class="card-link" href="{% url 'unhomologated_events' %}">Unhomologated Events</a></li>
</ul>
{% endblock %}
