{% extends "management/page.html" %}

{% block subtitle %}Current Membership List{% endblock %}


{% block fullwidth-content %}

<div class="card mb-5 col-4">
    <div class="card-body">
        <a class="card-link" href="{% url 'membership_list_csv' %}">Download CSV Membership list</a>
    </div>
</div>

<table id="CurrentMembership" cellpadding="0" cellspacing="0" border="0"
       class="hide-while-loading table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Member #</th>
      <th>Name</th>
      <th>Club</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Country</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Brevet Distance</th>
      <th>Permanent Distance</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      {% if member.info_release or user.is_staff %}
      <td><a href=/member/{{member.memberid}}>{{ member.memberid }}</a></td>
      <td>{{ member }} {% if not member.waiver %}<br/><b>(NEEDS WAIVER)</b>{% endif %}</td>
      <td>{{ member.club }}</td>
      <td>{{member.address}}</td>
      <td>{{member.city}}</td>
      <td>{{member.province}}</td>
      <td>{{member.country}}</td>
      <td>{{member.postalcode}}</td>
      <td>{{member.evephone}}</td>
      <td>{{member.email}}</td>
      {% else %}
      <td><a href=/member/{{member.memberid}}>{{ member.memberid }}</a></td>
      <td>{{ member }}</td>
      <td>{{ member.club }} </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {% endif %}
      <td>{{ member.totalBrevetDistance }}</td>
      <td>{{ member.totalPermanentDistance }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#CurrentMembership').dataTable({
		dom: BCRData.dataTablesDOMOption,
        order: [[1, 'asc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    })
    .find('th').css('width','');
});
</script>

{% endblock %}
