{% load tags %}

{% if user.member.is_current_member or user.is_staff or user.member.is_regional_admin %}
<li class="nav-item dropdown {% active request '^/management/' %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbar-mgmt-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"
        >Management {% if "missing" in request.path %}<span class="sr-only"> (current)</span>{% endif %}</a>
    <div class="dropdown-menu" aria-labelledby="navbar-mgmt-link">
        <a class="dropdown-item" href="{% url 'membership_list' %}">Current Membership Details</a>
        {% if user.member.is_regional_admin %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'regional_dashboard' %}">Regional Brevet Management</a>
        {% endif %}
        {% if user.is_staff %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/admin">Admin Site</a>
        <a class="dropdown-item" href="{% url 'unofficial_results' %}">Unofficial Results</a>
        <a class="dropdown-item" href="{% url 'unhomologated_events' %}">Unhomologated Events</a>
        <a class="dropdown-item" href="{% url 'upload_membership' %}">Upload CCN Membership List</a>
        {% endif %}
    </div>
</li>
{% endif %}
