{% extends "management/admin-page.html" %}

{% load tags %}

{% block subtitle %}Unhomologated Events{% endblock %}

{% block content %}

<table id="UnhomologatedEvents" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="{% url 'event' event.eventid %}">{{event}}</a> ({{event.eventid}})</td>
      <td>{{event.date.date.isoformat}}</td>
      <td>{{event.distance}}</td>
      <td>{{event.acpregion}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
/* Table initialisation */
$(document).ready(function() {
	$('#UnofficialResults').dataTable( {
		"sDom": BCRData.dataTablesDOMOption,
		"sPaginationType": "bootstrap",
                "aaSorting" : [[ 3, "dec" ]],
                "bStateSave" : true,
                "iCookieDuration": 600,
                "iDisplayLength": 25
	} );
} );
</script>

{% endblock %}
