{% extends "management/admin-page.html" %}

{% load tags %}

{% block subtitle %}Unofficial Results{% endblock %}

{% block content %}

<table id="UnofficialResults" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Member</th>
      <th>Event (EventID)</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <td><a href="{% url 'member' result.memberid.memberid %}">{{result.memberid}}</a></td>
      <td><a href="{% url 'event' result.eventid.eventid %}">{{result.eventid}}</a> ({{result.eventid.eventid}})</td>
      <td>{{result.eventid.date.date.isoformat}}</td>
      <td>{{result.eventid.distance}}</td>
      <td>{{result.eventid.acpregion}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#UnofficialResults').dataTable({
        "sDom": BCRData.dataTablesDOMOption,
        order: [[3, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

{% endblock %}
