{% extends "management/page.html" %}

{% block subtitle %}Membership List Processing Results{% endblock %}

{% block content %}

<ul>
  {% for result in results %}
  <li>{{ result.message }}</li>
  {% endfor %}
</ul>

{% endblock %}
