{% extends "management/page.html" %}

{% block subtitle %}Upload Membership List{% endblock %}

{% block content %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="/management/upload_membership/">
{% else %}
<form method="post" action="{% url upload_membership %}">
{% endif %}
{% csrf_token %}
{{ form }}
<input type="submit" value="Submit"/>
</form>

{% endblock %}
