#CurrentMembersTable td.join-year {
    text-align: right;
}

#SummaryDetails {
    width: 100%
}

#SummaryDetails th, #SummaryDetails td{
	font-size:0.75em;
	font-family: "Courier New", Courier, monospace;
	padding: 1px 5px 1px 5px;
	margin:0;
	border: none;
}

#SummaryDetails tr.rider-top {
    border-top: 1px solid #ccc;
}

#SummaryDetails td.ride-group {
    text-align: right;
}

div.volunteer-row td.large-event-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.volunteer-row td.large-event-cell:hover {
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
}
