<html>
  <body>
    <h2>Account Activated</h2>
    <p>Your account on the BC Randonneurs database website has been activated.</p>
    
    <p>Your username is {{user}}, and your temporary password is {{password}}</p>
  </body>
</html>
