{% extends "page.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form class="mt-2 col-6" method="post">
    <div class="form-needs-decoration">
        {{ form.as_p }}
    </div>
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Login</button>
</form>

<div class="card mt-5 col-6">
    <div class="card-body">
        <p class="card-text">Need an account? <a class="pl-4 card-link" href="{% url 'signup' %}">Sign Up</a></p>
        
        <p class="card-text">Forgot Password? <a class="pl-4 card-link" href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
</div>

{% endblock %}
