{% extends 'page.html' %}

{% block content %}
<h2>Sign Up</h2>
<form class="mt-2 col-6" method="post">
  {% csrf_token %}
  <div class="form-needs-decoration">
    {{ form.as_p }}
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
{% endblock %}
