{% extends "search/page.html" %}

{% block subtitle %}Event Listing{% endblock %}

{% block fullwidth-content %}

{% if event_results %}

<table cellpadding="0" cellspacing="0" border="0"
       class="table table-striped table-bordered table-responsive" id="EventSummaryTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Distance</th>
      <th>ACP Region</th>
      <th>Route</th>
    </tr>
  </thead>

  <tbody>
    {% for event in event_results %}
    <tr>
      <td>{{ event.date.date.isoformat }}</td>
      <td><a href="{% url 'event' event.eventid %}">{% if event.name %}{{event.name}}{% else %}Unnamed{% endif %}</a>{% if event.ridegroup %} ({{event.ridegroup}}){% endif %}</td>
      <td> {{ event.distance }} </td>
      <td>{{ event.acpregion }}</td>
      <td><a href="/route/{{ event.routeid.routeid }}"> {{ event.routeid }} </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#EventSummaryTable').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: "_MENU_ events per page"
        },
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
    })
    .find('th').css('style','');
});
</script>
<style>
    #EventSummaryTable th:nth-of-type(1) {
        width: 5em;
    }
</style>


{% else %}
<p> Could not find an event matching the given critera.  Please use the back button to try again. </p>
{% endif %}

{% endblock %}
