{% extends "search/page.html" %}

{% block subtitle %}Search{% endblock %}

{% block fullwidth-content %}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Event Search</h3>
        <form class="col-8" action="/search/event-search" method="get">
            <div class="form-needs-decoration">
                {{ eventform.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Route Search</h3> 
        <form class="col-8" action="/search/route-search" method="get">
            <div class="form-needs-decoration">
                {{ routeform.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Member Search</h3> 
        <form class="col-8" action="/search/member-search" method="get">
            <div class="form-needs-decoration">
                {{ memberform.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>

{% endblock %}
