{% extends "search/page.html" %}

{% block subtitle %}Member Search{% endblock %}

{% block fullwidth-content %}

{% if member_results %}
<table cellpadding="0" cellspacing="0" border="0"
       class="table table-striped table-bordered table-responsive"
       id="MemberSearchDetails" summary="Members found">
  <caption>Member Information</caption>
  <thead>
    <tr>
      <th>Member #</th>
      <th>Name </th>
      <th>Club</th>
      <th>Join Year</th>
      <th>Member Until</th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_results %}
    <tr>
      <td><a href="{% url 'member' member.memberid %}">{{ member.memberid }}</a></td>
      <td>{{ member }}</td>
      <td>{{ member.club }} </td>
      <td>{{ member.joinyear.year }}</td>
      <td>{{ member.expiredate }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#MemberSearchDetails').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: "_MENU_ members per page"
        },
        order: [[0, 'desc']],
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>

{% else %}
<p> Could not find member matching "{{search_string}}". Please use the back button to try again.</p>
{% endif %} 

{% endblock %}
