{% extends "search/page.html" %}

{% block subtitle %}Routes{% endblock %}

{% block fullwidth-content %}

{% if route_results %}

<table cellpadding="0" cellspacing="0" border="0"
       class="table table-striped table-bordered table-responsive" id="RouteSummary"
       summary="BC Randonneurs Route Search Summary" class="tablesorter">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Region</th>
      <th>Permanent</th>
      <th>Name</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    {% for route in route_results %}
    <tr>
      <td>{{route.distance}}</td>
      <td>{{route.acpregion}}</td>
      <td>{% if route.permanentid != None %}#{{route.permanentid}}{% endif %}
	{% if route.controlcard != "" %} <a href="{{route.controlcard.url}}"><span data-toggle="tooltip" data-placement="top" title="Control Card">C</span></a>{% endif %}
	{% if route.routesheet.url != "" %} <a href="{{route.routesheet.url}}"><span data-toggle="tooltip" data-placement="top" title="Routesheet">R</span></a>{% endif %}
	{% if route.gpx != "" %} <a href="{{route.gpx.url}}"><span data-toggle="tooltip" data-placement="top" title="GPX file">G</span></a>{% endif %}
      </td>
      <td><a href="{% url 'route' route.routeid %}">{{route.name}}</a> </td>
      <td>{{route.controls}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#RouteSummary').dataTable({
        dom: BCRData.dataTablesDOMOption,
        language: {
            lengthMenu: "_MENU_ routes per page"
        },
        stateSave: true,
        stateDuration: 600,
        pageLength: 25
	});
});
</script>
  
{% endif %} 

{% endblock %}
